$colors: (
  text: #E7ECEF,
  text-disabled: #7f7f7f,
  
  theme: #30285a,
  theme-dark: darken(#30285a, 10%),
  theme-darker: darken(#30285a, 20%),
  theme-light: lighten(#30285a, 30%),
  theme-lighter: lighten(#30285a, 50%),
  theme-light--transparent: rgba(lighten(#30285a, 30%), 0.35),

  theme-purple: #30285a,
  theme-purple-dark: darken(#30285a, 10%),
  theme-purple-darker: darken(#30285a, 20%),
  theme-purple-light: lighten(#30285a, 30%),
  theme-purple-lighter: lighten(#30285a, 50%),

  theme-gray: #232C39,
  theme-gray-dark: darken(#232C39, 10%),
  theme-gray-darker: darken(#232C39, 20%),
  theme-gray-light: lighten(#232C39, 30%),
  theme-gray-lighter: lighten(#232C39, 50%),

  theme-darkblue: #0b1033,
  theme-darkblue-dark: darken(#0b1033, 10%),
  theme-darkblue-darker: darken(#0b1033, 20%),
  theme-darkblue-light: rgba(lighten(#0b1033, 10%), 1),
  theme-darkblue-lighter: lighten(#0b1033, 50%),

  orange: #f4b865,
  red: #F05D5E,
  green: #5EB5B1,
  blue: #59A6D0,
  purple: #cc99cd,

  gray: rgba(#332E54, 1),
  comment: #ffffff47,
  white: #EFEFEF,
  black: #000000,

  disabled: rgba(black,0.25),
  bg: #000,
);

:root {
  // each item in color map
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
