$fonts: (
  regular: 'Josefin Sans',
  monospace: 'Anonymous Pro'
);

@function font($key) {
  @if map-has-key($fonts, $key) {
    @return map-get($fonts, $key);
  }

  @warn "Unknown `#{$key}` in $fonts.";
  @return null;
}
