.token {
  text-shadow: none;
  background-color: transparent;
  white-space: normal;
  color: #FFFDE9;

  &.keyword {
    color: #cc99cd;
  }

  &.operator {
    color: #2bbee2 !important;
    background-color: transparent;
  }

  &.function {
    color: #f08d49;
  }
  &.function-variable{
    color: #D7C19A;
  }
  &.number {
    color: #f08d49;
  }

  &.string {
    color: #7ec699;
  }
  &.comment{
    color: color(comment);
  }
  &.punctuation{
    color: #ccc;
  }
}